<div class="social-comment" id="comment-<%= comment._id %>">
  <a href="/users/profile/<%= comment.user._id %>" class="pull-left">
    <% if(comment.user.avatar) { %>

    <img alt="image" src="<%= comment.user.avatar %>" />
    <% } else{%>
    <img alt="image" src="https://icon-library.com/images/no-profile-pic-icon/no-profile-pic-icon-11.jpg" />
    <% } %>
  </a>
  <div class="media-body">
    <a href="/users/profile/<%= comment.user._id %>">
      <%= comment.user.name %>
    </a>
    <%= comment.content %>
    <br />
    <a
      class="toggle-like-button small"
      like-count="<%= comment.likes.length %>"
      href="/likes/toggle/?id=<%=comment._id%>&type=Comment"
      ><i class="fa fa-thumbs-up"></i> <%=comment.likes.length %> Likes</a
    >

    <small class="text-muted"
      ><% if (locals.user && locals.user.id == comment.user._id){ %> -
      <a
        class="delete-comment-button"
        href="/comments/destroy/<%= comment.id %>"
        >Delete</a
      >
      <% } %></small
    >
  </div>
</div>
